@import url(./font.css);


*{font-family:'Poppins', sans-serif ;}

.caja{
    background-color: black;
    height: 200px;

}

a{
    background-color: red;
}
h1{
    background-color: red;
    display: inline-block;
}
span{
    background-color: blue
    ;}