
#super-especial{

    color: chartreuse;
}

h2 {
    color: red;
}

/* llamador de e */h1{
    font-size: 50px;
    color: blue;
}
/* selector de clase */.subtitulo-especial{ 
    color: black;

}

.footer{
    color: aqua;
    size: 10px;
}

/* selector universal */*{
    font-family: sans-serif;
}